/*p.error{
    color: red;
}

p.success{
    color: greenyellow;
}

p.success.feedback{
    border: 1px dashed goldenrod;
}

#content{
    background-color: darkgray;
    padding: 20px;
}*/

/*
div .error{  /*parent selector, first the code looks for everything in div and than takes all the p's and alters them*/
    /* color: red;  /*if i was to write 'div .error it would look for all the error classes within div*/
/* } */
/*
a[href="https://www.google.com"]{ 
    background-color: #3dd13d;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

a[href*="amazon"]{ /* href*="fill in the blank" means any hyplerlink that has some portion of whats in " " will be included */
   /* background-color: blue;
    border: 2px solid red;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    text-transform: uppercase;
}

/* href$= means any hyperlink that ends with whatever is in the " " will be inluded; example href$=".com" everything with .com will be included */

div{
    color: lightcoral;
    border: 1px solid grey;
    margin: 40px;
    font-weight: bold;
}
div p{
    border: inherit;
    margin: inherit;
    color: crimson;
}
p{
    color: orange;
}